* {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
.main{
}

.banner {
    padding: 50px 150px 0px 150px;
    background-color: #fceef1;
    display: flex;
    align-items: center;
    gap: 150px;
}

.banner-content {
    max-width: 500px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner-detail {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;

}

.btn-pink {
    border-radius: 5px;
    background-color: #E55473;
    padding: 10px 15px;
    border: 0px;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
}

.banner .banner-img {
    width: 400px;
    height: 500px;
}


/* feature section  */
.feature-head{
    padding: 80px 430px 5px;
    width: auto;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.section-detail {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* feature pics section  */
.feature-pics {
    display: flex;
    justify-content: space-around;
    padding: 30px 150px 50px 150px;
    gap: 0px;
    margin-bottom: 50px;
}

.flower01 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
}
.flower01 img{
    height: 240px;
    width: 190px;
    padding: 60px 5px 0px 0px;
}

.flower02 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
}
.flower02 img{
    height: 210px;
    width: 200px;
    padding: 60px 0px 30px 25px;
}

.flower03 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
}
.flower03 img{
    height: 250px;
    width: 150px;
    padding: 50px 0px 0px 0px;
}
.flower-title{
    margin-top: 20px;
}