* {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.main {}

.banner {
    padding: 50px 150px 0px 150px;
    background-color: #fceef1;
    display: flex;
    align-items: center;
    gap: 150px;
}

.banner-content {
    max-width: 500px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner-detail {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;

}

.btn-pink {
    border-radius: 5px;
    background-color: #E55473;
    padding: 10px 15px;
    border: 0px;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
}

.banner .banner-img {
    width: 400px;
    height: 500px;
}


/* feature section  */
.feature-head {
    padding: 80px 430px 5px;
    width: auto;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.section-detail {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* feature pics section  */
.feature-pics {
    display: flex;
    justify-content: space-around;
    padding: 30px 150px 50px 150px;
    gap: 0px;
    margin-bottom: 50px;
}

.flower01 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
}

.flower01 img {
    height: 240px;
    width: 190px;
    padding: 60px 5px 0px 0px;
}

.flower02 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
}

.flower02 img {
    height: 210px;
    width: 200px;
    padding: 60px 0px 30px 25px;
}

.flower03 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
}

.flower03 img {
    height: 250px;
    width: 150px;
    padding: 50px 0px 0px 0px;
}

.flower-title {
    margin-top: 20px;
}

/* Hot Deals  */
.hot {
    background-color: #fef6f8;
    text-align: center;
    padding: 80px 250px 0px 250px;
    display: flex;
    gap: 150px;
    align-items: center;
}

.hot-content {
    max-width: 500px;
}

.hot-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hot-detail {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.off {
    color: #e55473;
}

.sign {
    padding: 10px 20px;
}

.hot-img {
    height: 250px;
    width: 200px;
    /* padding-bottom: 60px; */
    margin-bottom: 60px;
}

/* Instagra */
.instagram {
    padding: 50px 150px 0px 150px;
}

.insta-content {
    padding: 25px 290px;
    width: auto;
}

.insta-pics {
    display: flex;
    gap: 20px;
}

.insta-pics img {
    height: 300px;
    width: 250px;
}

.instapic01 {
    height: 400px;
    width: 400px;
}

/* top sell  */

.top-sell {
    background-color: #fef6f8;
}

.top-content {
    text-align: center;
    padding: 80px 150px 80px 150px;
    align-items: center;
}

.sell-flower {
    color: #e55473;
}

.plus {
    font-size: 80px;
    margin-top: 100px;
    color: #e55473;
}

.top-img {
    padding: 0px 300px 80px 300px;
    display: flex;
    justify-content: space-around;
    /* gap: 0px; */
}

.top01 {
    background: rgba(167, 33, 98, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.top01 img {
    height: 240px;
    width: 190px;
    padding: 60px 5px 0px 0px;
}

.top02 {
    background: rgba(5, 151, 160, 0.15);
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    height: 300px;
    width: 280px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);

}

.top02 img {
    height: 210px;
    width: 200px;
    padding: 60px 0px 30px 25px;
}

/* get the latest deals  */
.deals {
    padding: 50px 150px;
}

.deal-content {
    background-image: url('images/Rectangle 9.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 100px;
}

.search {
    text-align: center;
}

.search input {
    padding: 15px;
    width: 500px;
    border: 0px;
    border-radius: 5px;
}

.subs {
    padding: 19px 25px 16px 25px;
    margin-left: 5px;
}

/* Footer  */
.shop {
    background: #111010;
    padding: 120px 150px;
}

.shop-content {
    color: #FFFFFF;
}

.shop-title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 15px;
}

.ft-flower {
    color: #e55473;
}

.shop-detail {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0px 300px;
    max-width: 500px;
    color: rgba(255, 255, 255, 0.90);
    font-weight: 400;
}

.rights {
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}